""" Map leader to space ---------------------
let mapleader=" "

""" Disable annoying bell sound
set visualbell
set noerrorbells

""" IDE shortcut override
sethandler <c-w> a:vim

""" Plugins  --------------------------------
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" unmap capital hjl
map H <Nop>
map J <Nop>
map L <Nop>

""" Harpoon
nmap <C-h>a :action SetHarpoon1<cr>
nmap <C-h>s :action SetHarpoon2<cr>
nmap <C-h>d :action SetHarpoon3<cr>
nmap <C-h>f :action SetHarpoon4<cr>

nmap <C-h>h :action GotoHarpoon1<cr>
nmap <C-h>j :action GotoHarpoon2<cr>
nmap <C-h>k :action GotoHarpoon3<cr>
nmap <C-h>l :action GotoHarpoon4<cr>

nmap <C-h>e :action ShowHarpoon<cr>
nmap <C-h>w :action AddToHarpoon<cr>
""" Surround plugin ------------------------
" Basic commands:
"   cs      Change surroundings
"   cst     Change surroundings tags
"   dst     Delete surroundings tags
"   ds      Delete surroundings tags
"   ys      Surround text object 
Plug 'tpope/vim-surround'
set surround


""" MultiCursors plugin ---------------------
" basic commands
"   mc start MultiCursors
"   mc next mactch
"   mx skip next mactch
"   mp remove curent match and go back to previous one
Plug 'terryma/vim-multiple-cursors'
map mc <A-n>
map mx <A-x>
map mp <A-p>

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set which-key
set timeoutlen=3000
""" Easy motion
Plug 'easymotion/vim-easymotion'
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

""" NERDTree
" unmap Ctrl+T from IDE, remove ctrl-t from GIT handler: File Settings > Keymap > Git
sethandler <c-t> a:vim
" When in project files pane:
""" use Q to close
""" p to go to parent, P to root
""" o to open file, g o to open file
Plug 'preservim/nerdtree'
map <c-t>   :NERDTree<CR>

""" Mappings --------------------------------
" tabs
vmap <Tab> >gv
vmap <S-Tab> <gv
" Reformat the current line only
map <leader>l V<Action>(ReformatCode)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
" Shift space
" map <S-Space> <Action>(GotoNextError)

" Errors
nmap <leader>x :action GotoNextError<cr>
nmap <leader>X :action GotoPreviousError<cr>

" Refactorings
vmap T :action Refactorings.QuickListPopupAction<cr>
vmap <leader>rm :action ExtractMethod<cr>
nmap <leader>rn :action RenameElement<cr>
nmap <leader>rg :action Generate<cr>
nmap <leader>rI :action OptimizeImports<cr>
nmap <Leader>rr :action RemoteHostView.Rename<cr>
" VCS operations
nmap <leader>ya :action Annotate<cr>
nmap <leader>yr :action Git.ResolveConflicts<cr>

" Useful Git actions
nmap <leader>gp :action Vcs.QuickListPopupAction<cr>
nmap <leader>gb :action Git.Branches<cr>
nmap <leader>gP :action Git.Pull<cr>
nmap <leader>gu :action Git.Push<cr>
nmap <leader>gm :action Git.Merge<cr>
nmap <leader>go :action Github.Open.In.Browser<cr>
nmap <leader>gc :action Vcs.Show.Local.Changes<cr>
nmap <leader>gd :action Compare.LastVersion<cr>
nmap <leader>gl :action Vcs.Show.Log<cr>

" Splits manipulation
nmap <c-w>h :action SplitHorizontally<cr>
nmap <c-w>v :action SplitVertically<cr>
nmap <c-w>u :action Unsplit<cr>
nmap <c-w>a :action UnsplitAll<cr>
nmap <c-w>d :action OpenEditorInOppositeTabGroup<cr>
nmap <c-w>m :action MoveEditorToOppositeTabGroup<cr>
nmap <leader>s  :action SelectInProjectView<cr>

" Navigation
nmap <leader>h :action Back<cr>
nmap <leader>l :action Forward<cr>
nmap <leader>L :action RecentLocations<cr>
nmap <leader>u :action FindUsages<cr>
nmap <leader>C :action CallHierarchy<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>s :action GotoSymbol<cr>
nmap <leader>m :action ToggleBookmark<cr>
nmap <leader>; :action FileStructurePopup<cr>
nmap <leader>M :action ActivateStructureToolWindow<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>i :action GotoImplementation<cr>
nmap <leader>U :action GotoSuperMethod<cr>
nmap <leader>I :action SelectIn<cr>
nmap <leader>p :action JumpToLastWindow<cr>
nmap <leader>b :action ShowBookmarks<cr>
nmap <leader>gf :action GotoFile<cr>
nmap <leader>gr :action RecentFiles<cr>
nmap <leader>ga :action RecentChangedFiles<cr>
map <leader>mm <Action>(MainMenu)
map <leader>[ <Home>
map <leader>] <S-a>
set timeoutlen=5000
